<app-page-layout>
  <app-page-heading>Welcome to Breyel Pets</app-page-heading>
  <app-page-content>
    <div class="col">
      This is a site to view all the pets my wife and I have and love.
      Plus some that my parents have that I grew up with. I'm building this
      in order to learn Angular and some other cool tools. It's meant to be a fun project
      and a learning experience. If you happen to come across this, please enjoy! Select a pet to get started.
    </div>
  </app-page-content>
</app-page-layout>